flow.json
[
    {
        "id": "4e160294c152d662",
        "type": "tab",
        "label": "initialize variable",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11484aa47e88b65c",
        "type": "tab",
        "label": "did SPS sent  a request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0626ea1c7cffea5",
        "type": "tab",
        "label": "read data from file to answer a request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a897ab4ae946cbb",
        "type": "tab",
        "label": "end the call request with ok status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34222939a40ed0aa",
        "type": "tab",
        "label": "send an with error status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5038629d9d1cce0a",
        "type": "tab",
        "label": "end transfer  after an error",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e538af52b4727f50",
        "type": "tab",
        "label": "maschien status dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5f9c48fe0795d7b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55182065ac22cf83",
        "type": "OpcUa-Endpoint",
        "endpoint": "${IP_X}",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "403215d057ac2a3a",
        "type": "OpcUa-Endpoint",
        "endpoint": "${IP_X}",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "29aac6db4644a543",
        "type": "OpcUa-Endpoint",
        "endpoint": "${IP_X}",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "1cb64610926fbb25",
        "type": "ui_group",
        "name": "Maschine Status",
        "tab": "24c0a90e796435ac",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": true,
        "className": ""
    },
    {
        "id": "24c0a90e796435ac",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d9aa8d6e4d009a1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d567f79677389e3b",
        "type": "ui_spacer",
        "z": "e538af52b4727f50",
        "name": "spacer",
        "group": "1cb64610926fbb25",
        "order": 2,
        "width": 11,
        "height": 1
    },
    {
        "id": "92db3cb8e0393d57",
        "type": "ui_spacer",
        "z": "e538af52b4727f50",
        "name": "spacer",
        "group": "1cb64610926fbb25",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "542226b9162f1695",
        "type": "ui_spacer",
        "z": "e538af52b4727f50",
        "name": "spacer",
        "group": "1cb64610926fbb25",
        "order": 6,
        "width": 11,
        "height": 1
    },
    {
        "id": "b9fa47c8bcd642da",
        "type": "ui_spacer",
        "z": "e538af52b4727f50",
        "name": "spacer",
        "group": "1cb64610926fbb25",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "3e491abca81eae76",
        "type": "ui_spacer",
        "z": "e538af52b4727f50",
        "name": "spacer",
        "group": "1cb64610926fbb25",
        "order": 10,
        "width": 11,
        "height": 1
    },
    {
        "id": "3094c93fccf64c4e",
        "type": "ui_spacer",
        "z": "e538af52b4727f50",
        "name": "spacer",
        "group": "1cb64610926fbb25",
        "order": 12,
        "width": 11,
        "height": 1
    },
    {
        "id": "0f811561a6d92182",
        "type": "change",
        "z": "4e160294c152d662",
        "name": "reset all global variables",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "codeReadDone",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "dataFoundInFile",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "leseBereit",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "dataFoundInFile",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "codeNotFound",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "errorStatusSend",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "checkedData",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "e581e0d3f1ec4873"
            ]
        ]
    },
    {
        "id": "070f9af00c9c4893",
        "type": "inject",
        "z": "4e160294c152d662",
        "name": "reset all variable once at the start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "0f811561a6d92182"
            ]
        ]
    },
    {
        "id": "e581e0d3f1ec4873",
        "type": "debug",
        "z": "4e160294c152d662",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "505c3923e1c157a4",
        "type": "inject",
        "z": "11484aa47e88b65c",
        "name": "check start flag from SPS every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=12;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "6b26ea9a185ee6fc"
            ]
        ]
    },
    {
        "id": "6b26ea9a185ee6fc",
        "type": "OpcUa-Client",
        "z": "11484aa47e88b65c",
        "endpoint": "403215d057ac2a3a",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Read flag from SPS",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "ac62b212b91606cf",
                "a8385e69996734bd"
            ]
        ]
    },
    {
        "id": "ac62b212b91606cf",
        "type": "change",
        "z": "11484aa47e88b65c",
        "name": "save start flag in the global variable \"start \"",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "baeb71e041f6c0ac"
            ]
        ]
    },
    {
        "id": "2f34f26a49b11c60",
        "type": "comment",
        "z": "11484aa47e88b65c",
        "name": "",
        "info": "It listen to the SPS CPU start signle \nIt does this by reading every second the flag\nform the  ns=4;i=12;datatype=Boolean OPC UA server interface.\nWhen this flag is true and the codeReadDone is false , means we have to respond to the request, by returning the corresponding\nziel for a given code ( that we recieve from the SPS)\nwe save the  flag read form SPS in the  global variable \"start\"\nthen we read the code from  ns=4;i=14;datatype=String and\nwe store it in the global variable \"code\"\n and set codeReadDone to be true ",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "a8385e69996734bd",
        "type": "debug",
        "z": "11484aa47e88b65c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "47e843da41325ce1",
        "type": "debug",
        "z": "11484aa47e88b65c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "baeb71e041f6c0ac",
        "type": "switch",
        "z": "11484aa47e88b65c",
        "name": "if the flag is true AND",
        "property": "start",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "16a2a95af2d3c2fa"
            ]
        ]
    },
    {
        "id": "8fac49b4b371b36f",
        "type": "OpcUa-Client",
        "z": "11484aa47e88b65c",
        "endpoint": "403215d057ac2a3a",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "read  \"code\" from SPS",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "4c05d90fa6f0c33a"
            ]
        ]
    },
    {
        "id": "5437b6dcc58e1b59",
        "type": "function",
        "z": "11484aa47e88b65c",
        "name": "get \"code\" ready to read",
        "func": "msg.topic=\"ns=4;i=14;datatype=String\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 400,
        "wires": [
            [
                "8fac49b4b371b36f",
                "f86f33f5f83d1380"
            ]
        ]
    },
    {
        "id": "4c05d90fa6f0c33a",
        "type": "change",
        "z": "11484aa47e88b65c",
        "name": "then strore it in the global variabel \"code\"",
        "rules": [
            {
                "t": "set",
                "p": "code",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 520,
        "wires": [
            [
                "bf98b798c8c1a8b4",
                "3e3bc4335a1fa929"
            ]
        ]
    },
    {
        "id": "bf98b798c8c1a8b4",
        "type": "change",
        "z": "11484aa47e88b65c",
        "name": "set codeReadDone to true",
        "rules": [
            {
                "t": "set",
                "p": "codeReadDone",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 580,
        "wires": [
            [
                "47e843da41325ce1"
            ]
        ]
    },
    {
        "id": "16a2a95af2d3c2fa",
        "type": "switch",
        "z": "11484aa47e88b65c",
        "name": "if codeReadDone is false",
        "property": "codeReadDone",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "5437b6dcc58e1b59"
            ]
        ]
    },
    {
        "id": "3e3bc4335a1fa929",
        "type": "debug",
        "z": "11484aa47e88b65c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 520,
        "wires": []
    },
    {
        "id": "f86f33f5f83d1380",
        "type": "debug",
        "z": "11484aa47e88b65c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "6b7b0e166e165ee5",
        "type": "file in",
        "z": "d0626ea1c7cffea5",
        "name": "Read data from the file ",
        "filename": "${FILE_NAME}",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "007b3d2cf1b02c63",
                "be38751f046938a6"
            ]
        ]
    },
    {
        "id": "9dc84da3b9d91155",
        "type": "split",
        "z": "d0626ea1c7cffea5",
        "name": "split each line into code and ziel MSG",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "c9161514b9f54cc5"
            ]
        ]
    },
    {
        "id": "c9161514b9f54cc5",
        "type": "function",
        "z": "d0626ea1c7cffea5",
        "name": "extract code and ziel and saved them in msg",
        "func": "\n\n\n// example of a code ziele pair : 00151201801291302308;000001047445\n// recieved in msg.payload\n// split code form zile\nvar CodeZielePair=msg.payload.split(\";\");\nvar dataCode=CodeZielePair[0];//00151201801291302308\nvar dataZiele=CodeZielePair[1];//000001047445\n//remove \\r from the end of the dataziele\n var temp=dataZiele.split(\"\\r\");\n dataZiele=temp[0];\n // check if code is the code that passed as API call argument\n  msg.code=dataCode;\n  msg.ziel=dataZiele;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 540,
        "wires": [
            [
                "2db01a4130a5f4cb"
            ]
        ]
    },
    {
        "id": "9fadeb9d7949a092",
        "type": "comment",
        "z": "d0626ea1c7cffea5",
        "name": "Readme",
        "info": "It will be excuted each time an API call request recived form the SPS\nif the \"start\" global variabel is true, means an API call request took place\nwe first read teh data from file an dstor ethem in an HASH mapp\n\n",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "007b3d2cf1b02c63",
        "type": "debug",
        "z": "d0626ea1c7cffea5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "4f8ffd46c9aa513a",
        "type": "debug",
        "z": "d0626ea1c7cffea5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e4e57b9934db8920",
        "type": "change",
        "z": "d0626ea1c7cffea5",
        "name": "set \"dataFoundInFile\" to true, singanling that is read from file is done and ziel is sent",
        "rules": [
            {
                "t": "set",
                "p": "dataFoundInFile",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "49da9d3efd0d62b1"
            ]
        ]
    },
    {
        "id": "5bf2a0a37b4f6406",
        "type": "inject",
        "z": "d0626ea1c7cffea5",
        "name": "check if there is an start request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "33368dd9b3d9b02c"
            ]
        ]
    },
    {
        "id": "33368dd9b3d9b02c",
        "type": "switch",
        "z": "d0626ea1c7cffea5",
        "name": "if a start was requested by the SPS AND",
        "property": "start",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "69c7eef9e720dede"
            ]
        ]
    },
    {
        "id": "69c7eef9e720dede",
        "type": "switch",
        "z": "d0626ea1c7cffea5",
        "name": "the  \"dataFoundInFile( is false)\" from file is not done",
        "property": "dataFoundInFile",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "4a642a9616072996"
            ]
        ]
    },
    {
        "id": "2db01a4130a5f4cb",
        "type": "switch",
        "z": "d0626ea1c7cffea5",
        "name": "check if \"code\" recived is equal to read code form file",
        "property": "code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "code",
                "vt": "global"
            },
            {
                "t": "neq",
                "v": "code",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 600,
        "wires": [
            [
                "5bddbbc08fb4931b"
            ],
            []
        ]
    },
    {
        "id": "814a8e3ee05b2887",
        "type": "OpcUa-Client",
        "z": "d0626ea1c7cffea5",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send zile to SPS",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "919b9ec5defb0d3e"
            ]
        ]
    },
    {
        "id": "da60a0c10db95a16",
        "type": "OpcUa-Item",
        "z": "d0626ea1c7cffea5",
        "item": "ns=4;i=15",
        "datatype": "String",
        "value": "false",
        "name": "get  ziel  reday",
        "x": 550,
        "y": 720,
        "wires": [
            [
                "814a8e3ee05b2887"
            ]
        ]
    },
    {
        "id": "5bddbbc08fb4931b",
        "type": "function",
        "z": "d0626ea1c7cffea5",
        "name": "get ziel ",
        "func": "msg.payload=msg.ziel;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 660,
        "wires": [
            [
                "da60a0c10db95a16"
            ]
        ]
    },
    {
        "id": "cfa7b441672f2d67",
        "type": "debug",
        "z": "d0626ea1c7cffea5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 960,
        "wires": []
    },
    {
        "id": "210a0c6b427910a4",
        "type": "OpcUa-Client",
        "z": "d0626ea1c7cffea5",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send status (false) to SPS",
        "x": 590,
        "y": 960,
        "wires": [
            [
                "cfa7b441672f2d67",
                "e4e57b9934db8920"
            ]
        ]
    },
    {
        "id": "ab5d3d5b5ca8f103",
        "type": "OpcUa-Item",
        "z": "d0626ea1c7cffea5",
        "item": "ns=4;i=13",
        "datatype": "Boolean",
        "value": "false",
        "name": "get status ready  (false)",
        "x": 660,
        "y": 900,
        "wires": [
            [
                "210a0c6b427910a4"
            ]
        ]
    },
    {
        "id": "919b9ec5defb0d3e",
        "type": "function",
        "z": "d0626ea1c7cffea5",
        "name": "signal status ok by sending 0",
        "func": "msg.payload=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 840,
        "wires": [
            [
                "ab5d3d5b5ca8f103"
            ]
        ]
    },
    {
        "id": "49da9d3efd0d62b1",
        "type": "change",
        "z": "d0626ea1c7cffea5",
        "name": "set CodenotFound false",
        "rules": [
            {
                "t": "set",
                "p": "CodenotFound",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1080,
        "wires": [
            [
                "568fe828e7d6529d"
            ]
        ]
    },
    {
        "id": "413c1a6fbddd346f",
        "type": "OpcUa-Client",
        "z": "d0626ea1c7cffea5",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send lese_bereit (true) to sps",
        "x": 440,
        "y": 1200,
        "wires": [
            [
                "4f8ffd46c9aa513a"
            ]
        ]
    },
    {
        "id": "568fe828e7d6529d",
        "type": "OpcUa-Item",
        "z": "d0626ea1c7cffea5",
        "item": "ns=4;i=16",
        "datatype": "Boolean",
        "value": "true",
        "name": "set lese_bereit true",
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "413c1a6fbddd346f"
            ]
        ]
    },
    {
        "id": "4a642a9616072996",
        "type": "switch",
        "z": "d0626ea1c7cffea5",
        "name": "and if checkedData  is false",
        "property": "checkedData",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "6b7b0e166e165ee5"
            ],
            [
                "d2e092ee2ab8e1bd"
            ]
        ]
    },
    {
        "id": "be38751f046938a6",
        "type": "change",
        "z": "d0626ea1c7cffea5",
        "name": "set recheckedData true",
        "rules": [
            {
                "t": "set",
                "p": "checkedData",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "3b4a1fb7a2c15114"
            ]
        ]
    },
    {
        "id": "d2e092ee2ab8e1bd",
        "type": "change",
        "z": "d0626ea1c7cffea5",
        "name": "set codeNotFound true",
        "rules": [
            {
                "t": "set",
                "p": "codeNotFound",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "747b4b107f0d582d"
            ]
        ]
    },
    {
        "id": "747b4b107f0d582d",
        "type": "debug",
        "z": "d0626ea1c7cffea5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "3b4a1fb7a2c15114",
        "type": "change",
        "z": "d0626ea1c7cffea5",
        "name": "set CodenotFound false",
        "rules": [
            {
                "t": "set",
                "p": "CodenotFound",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "9dc84da3b9d91155"
            ]
        ]
    },
    {
        "id": "0999a653371e8118",
        "type": "inject",
        "z": "5a897ab4ae946cbb",
        "name": "Ask about LeseBreit flag from SPS every second ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=16;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "1825dfeb237e094b"
            ]
        ]
    },
    {
        "id": "1825dfeb237e094b",
        "type": "OpcUa-Client",
        "z": "5a897ab4ae946cbb",
        "endpoint": "403215d057ac2a3a",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "read flag from SPS",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "df8f62c2301230f2"
            ]
        ]
    },
    {
        "id": "def2c2705edd617a",
        "type": "comment",
        "z": "5a897ab4ae946cbb",
        "name": "",
        "info": "\nif the  lesebreit is false and global.dataReadFromFile is true\nthen sedn start false to SPS signaling the end of teh call request",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "df8f62c2301230f2",
        "type": "change",
        "z": "5a897ab4ae946cbb",
        "name": "set global variable \"leseBereit\" to flag",
        "rules": [
            {
                "t": "set",
                "p": "leseBereit",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "8f7fd90529ed266b"
            ]
        ]
    },
    {
        "id": "8f7fd90529ed266b",
        "type": "switch",
        "z": "5a897ab4ae946cbb",
        "name": "if lese breiet is false and ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "554b257f3b5c933b"
            ]
        ]
    },
    {
        "id": "509311c915c03539",
        "type": "OpcUa-Client",
        "z": "5a897ab4ae946cbb",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send \"start\" to SPS",
        "x": 770,
        "y": 560,
        "wires": [
            [
                "0916162d1d0edb3b"
            ]
        ]
    },
    {
        "id": "77816b7441b9489f",
        "type": "OpcUa-Item",
        "z": "5a897ab4ae946cbb",
        "item": "ns=4;i=12",
        "datatype": "Boolean",
        "value": "false",
        "name": "set \"start\"  to be false",
        "x": 740,
        "y": 500,
        "wires": [
            [
                "509311c915c03539"
            ]
        ]
    },
    {
        "id": "194c51fa798913ab",
        "type": "function",
        "z": "5a897ab4ae946cbb",
        "name": "get \"start\" ready to be false",
        "func": "msg.payload=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 440,
        "wires": [
            [
                "77816b7441b9489f"
            ]
        ]
    },
    {
        "id": "554b257f3b5c933b",
        "type": "switch",
        "z": "5a897ab4ae946cbb",
        "name": "if data dataFoundInFilesend is true then",
        "property": "dataFoundInFile",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 380,
        "wires": [
            [
                "194c51fa798913ab"
            ],
            []
        ]
    },
    {
        "id": "e24170b4a3d02a7d",
        "type": "debug",
        "z": "5a897ab4ae946cbb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "0916162d1d0edb3b",
        "type": "change",
        "z": "5a897ab4ae946cbb",
        "name": "reset all global variables",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "codeReadDone",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "dataFoundInFile",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "leseBereit",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "dataFoundInFile",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "codeNotFound",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "errorStatusSend",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "checkedData",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 620,
        "wires": [
            [
                "e24170b4a3d02a7d"
            ]
        ]
    },
    {
        "id": "c7d182fbf75efe62",
        "type": "inject",
        "z": "34222939a40ed0aa",
        "name": "Ask about LeseBreit flag from SPS every second ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "09acafb9d4dd0b09"
            ]
        ]
    },
    {
        "id": "8f1387204d2276f2",
        "type": "comment",
        "z": "34222939a40ed0aa",
        "name": "",
        "info": "\nif the  lesebreit is false and global.dataReadFromFile is true\nthen sedn start false to SPS signaling the end of teh call request",
        "x": 200,
        "y": 100,
        "wires": []
    },
    {
        "id": "09acafb9d4dd0b09",
        "type": "switch",
        "z": "34222939a40ed0aa",
        "name": "if codeNotFound is true and",
        "property": "codeNotFound",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "4b8ad0feb9edd3b8",
                "3fcecf0106546b13"
            ]
        ]
    },
    {
        "id": "8035b14308fe3bd7",
        "type": "debug",
        "z": "34222939a40ed0aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "f7c0429e0afb0a2a",
        "type": "OpcUa-Client",
        "z": "34222939a40ed0aa",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send status (true= error) to SPS",
        "x": 810,
        "y": 460,
        "wires": [
            [
                "8035b14308fe3bd7",
                "57562f2961f59ed9"
            ]
        ]
    },
    {
        "id": "fc0ca9f449717882",
        "type": "OpcUa-Item",
        "z": "34222939a40ed0aa",
        "item": "ns=4;i=13",
        "datatype": "Boolean",
        "value": "true",
        "name": "get status ready  (true means  error)",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "f7c0429e0afb0a2a"
            ]
        ]
    },
    {
        "id": "d98e47ecd38b48be",
        "type": "function",
        "z": "34222939a40ed0aa",
        "name": "signal status error by sending 1",
        "func": "msg.payload=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 340,
        "wires": [
            [
                "fc0ca9f449717882"
            ]
        ]
    },
    {
        "id": "93f1278030fedde6",
        "type": "OpcUa-Client",
        "z": "34222939a40ed0aa",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send lese_bereit (true) to sps",
        "x": 860,
        "y": 580,
        "wires": [
            [
                "02eea42b498844d8"
            ]
        ]
    },
    {
        "id": "57562f2961f59ed9",
        "type": "OpcUa-Item",
        "z": "34222939a40ed0aa",
        "item": "ns=4;i=16",
        "datatype": "Boolean",
        "value": "true",
        "name": "set lese_bereit true",
        "x": 810,
        "y": 520,
        "wires": [
            [
                "93f1278030fedde6"
            ]
        ]
    },
    {
        "id": "02eea42b498844d8",
        "type": "change",
        "z": "34222939a40ed0aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "errorStatusSend",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 640,
        "wires": [
            [
                "746549e6ed8f4711"
            ]
        ]
    },
    {
        "id": "4b8ad0feb9edd3b8",
        "type": "debug",
        "z": "34222939a40ed0aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "3fcecf0106546b13",
        "type": "switch",
        "z": "34222939a40ed0aa",
        "name": "if  errorStatusSend false",
        "property": "errorStatusSend",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "d98e47ecd38b48be"
            ]
        ]
    },
    {
        "id": "746549e6ed8f4711",
        "type": "debug",
        "z": "34222939a40ed0aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "8495844474467a13",
        "type": "switch",
        "z": "5038629d9d1cce0a",
        "name": "if errorStatusSend is true and ",
        "property": "errorStatusSend",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "99662d20a6fc750f"
            ]
        ]
    },
    {
        "id": "5e7d0c2ab31a5c0c",
        "type": "OpcUa-Client",
        "z": "5038629d9d1cce0a",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send \"start\" to SPS",
        "x": 950,
        "y": 480,
        "wires": [
            [
                "e8916bef68279eee",
                "8dbb728d9c405941"
            ]
        ]
    },
    {
        "id": "3b51bf9dd08915c1",
        "type": "OpcUa-Item",
        "z": "5038629d9d1cce0a",
        "item": "ns=4;i=12",
        "datatype": "Boolean",
        "value": "false",
        "name": "set \"start\"  to be false",
        "x": 920,
        "y": 420,
        "wires": [
            [
                "5e7d0c2ab31a5c0c"
            ]
        ]
    },
    {
        "id": "99662d20a6fc750f",
        "type": "function",
        "z": "5038629d9d1cce0a",
        "name": "get \"start\" ready to be false",
        "func": "msg.payload=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 360,
        "wires": [
            [
                "3b51bf9dd08915c1"
            ]
        ]
    },
    {
        "id": "e8916bef68279eee",
        "type": "debug",
        "z": "5038629d9d1cce0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 480,
        "wires": []
    },
    {
        "id": "8dbb728d9c405941",
        "type": "change",
        "z": "5038629d9d1cce0a",
        "name": "reset all global variables",
        "rules": [
            {
                "t": "set",
                "p": "start",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "codeReadDone",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "dataFoundInFile",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "leseBereit",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "dataFoundInFile",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "codeNotFound",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "errorStatusSend",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "checkedData",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "a78e842e5efd7ad1"
            ]
        ]
    },
    {
        "id": "7892795c6bd1fc1b",
        "type": "inject",
        "z": "5038629d9d1cce0a",
        "name": "Ask about LeseBreit flag from SPS every second ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=16;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 60,
        "wires": [
            [
                "b19c84ab088d4561"
            ]
        ]
    },
    {
        "id": "b19c84ab088d4561",
        "type": "OpcUa-Client",
        "z": "5038629d9d1cce0a",
        "endpoint": "403215d057ac2a3a",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "read flag from SPS",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "d0c4063831d0f358"
            ]
        ]
    },
    {
        "id": "d493d09e1aab2bce",
        "type": "comment",
        "z": "5038629d9d1cce0a",
        "name": "",
        "info": "\nif the  lesebreit is false and global.dataReadFromFile is true\nthen sedn start false to SPS signaling the end of teh call request",
        "x": 240,
        "y": 20,
        "wires": []
    },
    {
        "id": "d0c4063831d0f358",
        "type": "change",
        "z": "5038629d9d1cce0a",
        "name": "set global variable \"leseBereit\" to flag",
        "rules": [
            {
                "t": "set",
                "p": "leseBereit",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "7fe8ce8e334935bd"
            ]
        ]
    },
    {
        "id": "7fe8ce8e334935bd",
        "type": "switch",
        "z": "5038629d9d1cce0a",
        "name": "if lese breiet is false and ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "8495844474467a13"
            ]
        ]
    },
    {
        "id": "a78e842e5efd7ad1",
        "type": "debug",
        "z": "5038629d9d1cce0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "aa21a03b36b671ee",
        "type": "inject",
        "z": "e538af52b4727f50",
        "name": "Steurung ein End point in SPS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=9;datatype=Boolean",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "c3384702328f613c"
            ]
        ]
    },
    {
        "id": "c3384702328f613c",
        "type": "OpcUa-Client",
        "z": "e538af52b4727f50",
        "endpoint": "29aac6db4644a543",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 480,
        "y": 60,
        "wires": [
            [
                "d4feab48beb9fdc8"
            ]
        ]
    },
    {
        "id": "ad62f4f690edc7be",
        "type": "debug",
        "z": "e538af52b4727f50",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 20,
        "wires": []
    },
    {
        "id": "d3b318d2b1e005b5",
        "type": "inject",
        "z": "e538af52b4727f50",
        "name": "Auto maschine status End point in SPS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=11;datatype=Boolean",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "c3384702328f613c"
            ]
        ]
    },
    {
        "id": "73fe2320395f2d27",
        "type": "inject",
        "z": "e538af52b4727f50",
        "name": "Hand maschine status End point in SPS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10;datatype=Boolean",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "c3384702328f613c"
            ]
        ]
    },
    {
        "id": "444559ff7457cfd7",
        "type": "inject",
        "z": "e538af52b4727f50",
        "name": "benutzer name End point in SPS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=13;datatype=String",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "c3384702328f613c"
            ]
        ]
    },
    {
        "id": "61a1fa54cb5d2ab6",
        "type": "function",
        "z": "e538af52b4727f50",
        "name": "get Steurung",
        "func": "\nmsg.payload=msg.payload[0];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "19dffb82697a7019"
            ]
        ]
    },
    {
        "id": "d4feab48beb9fdc8",
        "type": "join",
        "z": "e538af52b4727f50",
        "name": "Create one messsage out of seven ",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 740,
        "y": 60,
        "wires": [
            [
                "61a1fa54cb5d2ab6",
                "ad62f4f690edc7be",
                "07cae95480103199",
                "add4a078b0a82bbf",
                "d93f60f54c760ad3",
                "4973258121de3fcc",
                "38e4eb74433c136c",
                "1d86804ae69d74a2"
            ]
        ]
    },
    {
        "id": "b0c2c329e3c4f4fc",
        "type": "inject",
        "z": "e538af52b4727f50",
        "name": "Fehler in Maschine End point in SPS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=12;datatype=Boolean",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "c3384702328f613c"
            ]
        ]
    },
    {
        "id": "891a1a36c6b5e301",
        "type": "inject",
        "z": "e538af52b4727f50",
        "name": "Messewert End point SPS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=15;datatype=number",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "c3384702328f613c"
            ]
        ]
    },
    {
        "id": "2b885eae42133e0c",
        "type": "inject",
        "z": "e538af52b4727f50",
        "name": "System time in End point SPS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=14;datatype=number",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "c3384702328f613c"
            ]
        ]
    },
    {
        "id": "07cae95480103199",
        "type": "function",
        "z": "e538af52b4727f50",
        "name": "get Auto",
        "func": "\nmsg.payload=msg.payload[1];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 200,
        "wires": [
            [
                "b00ba0b78972ec7c"
            ]
        ]
    },
    {
        "id": "add4a078b0a82bbf",
        "type": "function",
        "z": "e538af52b4727f50",
        "name": "get Hand",
        "func": "\nmsg.payload=msg.payload[2];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            [
                "549a44f9717e9eb4"
            ]
        ]
    },
    {
        "id": "5f867577b69b9f9d",
        "type": "ui_text",
        "z": "e538af52b4727f50",
        "group": "1cb64610926fbb25",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Benutzer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "d93f60f54c760ad3",
        "type": "function",
        "z": "e538af52b4727f50",
        "name": "get benutzer",
        "func": "\nmsg.payload=msg.payload[3];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 360,
        "wires": [
            [
                "5f867577b69b9f9d"
            ]
        ]
    },
    {
        "id": "4973258121de3fcc",
        "type": "function",
        "z": "e538af52b4727f50",
        "name": "get Fehler",
        "func": "\nmsg.payload=msg.payload[4];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "f25a76f14ac591b5"
            ]
        ]
    },
    {
        "id": "3d354d6ff2407cf4",
        "type": "ui_text",
        "z": "e538af52b4727f50",
        "group": "1cb64610926fbb25",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messwert",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 520,
        "wires": []
    },
    {
        "id": "38e4eb74433c136c",
        "type": "function",
        "z": "e538af52b4727f50",
        "name": "get Messwert",
        "func": "\nmsg.payload=msg.payload[5];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 520,
        "wires": [
            [
                "3d354d6ff2407cf4"
            ]
        ]
    },
    {
        "id": "4e742562ebe9183b",
        "type": "ui_text",
        "z": "e538af52b4727f50",
        "group": "1cb64610926fbb25",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "System Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 600,
        "wires": []
    },
    {
        "id": "1d86804ae69d74a2",
        "type": "moment",
        "z": "e538af52b4727f50",
        "name": "hh:mm:ss",
        "topic": "",
        "input": "payload.timestamp",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "de-DE",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 880,
        "y": 580,
        "wires": [
            [
                "4e742562ebe9183b"
            ]
        ]
    },
    {
        "id": "19dffb82697a7019",
        "type": "ui_led",
        "z": "e538af52b4727f50",
        "order": 7,
        "group": "1cb64610926fbb25",
        "width": 0,
        "height": 0,
        "label": "Steurung",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Steurung",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "b00ba0b78972ec7c",
        "type": "ui_led",
        "z": "e538af52b4727f50",
        "order": 3,
        "group": "1cb64610926fbb25",
        "width": 0,
        "height": 0,
        "label": "Auto",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Auto",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "549a44f9717e9eb4",
        "type": "ui_led",
        "z": "e538af52b4727f50",
        "order": 5,
        "group": "1cb64610926fbb25",
        "width": 0,
        "height": 0,
        "label": "Hand",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Hand",
        "x": 1120,
        "y": 280,
        "wires": []
    },
    {
        "id": "f25a76f14ac591b5",
        "type": "ui_led",
        "z": "e538af52b4727f50",
        "order": 9,
        "group": "1cb64610926fbb25",
        "width": 0,
        "height": 0,
        "label": "Fehler",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Fehler",
        "x": 1120,
        "y": 440,
        "wires": []
    },
    {
        "id": "a0146da857304bf4",
        "type": "OpcUa-Client",
        "z": "b5f9c48fe0795d7b",
        "endpoint": "55182065ac22cf83",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "send start  (false) to SPS",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "3c9d177d12da6eac"
            ]
        ]
    },
    {
        "id": "973bc9edf7c94cf8",
        "type": "OpcUa-Item",
        "z": "b5f9c48fe0795d7b",
        "item": "ns=4;i=16",
        "datatype": "Boolean",
        "value": "false",
        "name": "get start (false)",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "a0146da857304bf4"
            ]
        ]
    },
    {
        "id": "82422f6231382612",
        "type": "inject",
        "z": "b5f9c48fe0795d7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "7b28a3aff2f23ab1"
            ]
        ]
    },
    {
        "id": "7b28a3aff2f23ab1",
        "type": "function",
        "z": "b5f9c48fe0795d7b",
        "name": "",
        "func": "msg.payload=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "973bc9edf7c94cf8"
            ]
        ]
    },
    {
        "id": "3c9d177d12da6eac",
        "type": "debug",
        "z": "b5f9c48fe0795d7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    }
]